%tr{ data: { id: author.id } }
  %td= author.primary_affiliation.name
  %td= author.primary_affiliation.institution.nil? ? '' : author.primary_affiliation.institution.name
  %td= author.articles.count
  %td.nowrap.align-right
    = link_to edit_admin_journal_author_path(author.id), class: 'button button-link' do
      = icon 'pencil-outline'
      = t '.view'
