.page-form-group
  .page-form-label
    = ::Spina::Admin::Journal::Affiliation.human_attribute_name :first_name
  .page-form-content
    = ff.text_field :first_name
.page-form-group
  .page-form-label
    = ::Spina::Admin::Journal::Affiliation.human_attribute_name :surname
  .page-form-content
    = ff.text_field :surname
.page-form-group
  .page-form-label
    = ::Spina::Admin::Journal::Affiliation.human_attribute_name :institution
  .page-form-content
    = ff.collection_select :institution_id, ::Spina::Admin::Journal::Institution.sorted, :id, :name
.page-form-group
  .page-form-label
    = t '.primary'
  .page-form-content
    = radio_button_tag 'admin_journal_author[primary_affiliation_index]', ff.index, ff.object.status == 'primary'
