.table-container
  %table.table
    %thead
      %tr
        %th= ::Spina::Admin::Journal::Volume.human_attribute_name :number
        %th= ::Spina::Admin::Journal::Issue.human_attribute_name :number
        %th= ::Spina::Admin::Journal::Article.human_attribute_name :number
        %th= ::Spina::Admin::Journal::Issue.human_attribute_name :date
        %th= ::Spina::Admin::Journal::Article.human_attribute_name :title
        %th
    %tbody
      - if @author.affiliations.any?
        -# render empty list if no affiliation has any articles
        = render 'empty_list', message: t('.no_articles') if @author.affiliations.reduce(true) do |memo, affiliation|
          = render affiliation.articles
          - memo && !affiliation.articles.any?
      - else
        = render 'empty_list', message: t('.no_articles')
