- content_for(:header_actions) do
  = link_to new_admin_journal_author_path, class: 'button button-primary' do
    = heroicon 'plus'
    = t '.new'

.well
  .table-container
    %table.table
      %thead
        %tr
          %th= ::Spina::Admin::Journal::Affiliation.human_attribute_name :name
          %th= ::Spina::Admin::Journal::Institution.model_name.human count: :one
          %th= t '.number_of_articles'
          %th

      %tbody
        = @authors.any? ? render(collection: @authors, partial: 'author') : render('empty_list', message: t('.empty'))
