= form_for [:admin_journal, @volume], html: { autocomplete: 'off' } do |f|
  %header#header
    = render partial: 'spina/admin/shared/breadcrumbs'

    #header_actions
      .button{ style: 'margin-right: 0' }= link_to t('spina.cancel'), admin_journal_volumes_path

    %nav#secondary.tabs
      %ul
        - @tabs.each_with_index do |tab, i|
          %li{ class: ('active' if i == 0) }
            = link_to t(".#{tab}"), "##{tab}"

  #details.tab-content.active= render 'form_details', f: f
  #issues.tab-content= render 'form_issues', f: f
