#issues.tab-content.well
  .table-container
    %table.table
      %thead
        %tr
          %th= ::Spina::Admin::Journal::Volume.human_attribute_name :number
          %th= ::Spina::Admin::Journal::Issue.human_attribute_name :number
          %th= ::Spina::Admin::Journal::Issue.human_attribute_name :title
          %th= ::Spina::Admin::Journal::Issue.human_attribute_name :date
          %th
      %tbody
        = render @volume.issues.any? ? @volume.issues : 'empty_list', message: t('.no_issues')
