- content_for(:header_actions) do
  = link_to new_admin_journal_licence_path, class: 'button button-primary' do
    = heroicon 'plus'
    = t '.new'

.well
  .table-container
    %table.table
      %thead
        %tr
          %th= ::Spina::Admin::Journal::Licence.human_attribute_name :name
          %th= ::Spina::Admin::Journal::Licence.human_attribute_name :abbreviated_name
          %th= t '.num_articles'
          %th

      %tbody
        = render @licences.any? ? @licences : 'empty_list', message: t('.empty')
