= render Spina::MainNavigation::SubNavComponent.new(:journal) do |nav|
  - nav.icon do
    = heroicon 'document-add', style: :solid, class: 'w-8 h-8 text-white md:mr-3'
    .text-white.font-semibold.hidden{class: 'md:block transform -translate-x-2 ease-in-out duration-300 absolute md:relative opacity-0 transition-all', 'data-navigation-target': 'label'}
      = Spina::Admin::Journal::Journal.instance.name

  - nav.links do
    = render Spina::MainNavigation::LinkComponent.new(Spina::Admin::Journal::Volume.model_name.human(count: :many),
                                                      spina.admin_journal_volumes_path,
                                                      active: controller_name == 'volumes')
    = render Spina::MainNavigation::LinkComponent.new(Spina::Admin::Journal::Issue.model_name.human(count: :many),
                                                      spina.admin_journal_issues_path,
                                                      active: controller_name == 'issues')
    = render Spina::MainNavigation::LinkComponent.new(Spina::Admin::Journal::Article.model_name.human(count: :many),
                                                      spina.admin_journal_articles_path,
                                                      active: controller_name == 'articles')


= render Spina::MainNavigation::SubNavComponent.new(:journal_settings) do |nav|
  - nav.icon do
    = heroicon 'dots-horizontal', style: :solid, class: 'w-8 h-8 text-white md:mr-3'
    .text-white.font-semibold.hidden{class: 'md:block transform -translate-x-2 ease-in-out duration-300 absolute md:relative opacity-0 transition-all', 'data-navigation-target': 'label'}
      = t 'spina.admin.journal.navigation_title'

  - nav.links do
    = render Spina::MainNavigation::LinkComponent.new(Spina::Admin::Journal::Journal.model_name.human(count: :one),
                                                      spina.edit_admin_journal_journal_path(Spina::Admin::Journal::Journal.instance.id),
                                                      active: controller_name == 'journals')
    = render Spina::MainNavigation::LinkComponent.new(Spina::Admin::Journal::Author.model_name.human(count: :many),
                                                      spina.admin_journal_authors_path,
                                                      active: controller_name == 'authors')
    = render Spina::MainNavigation::LinkComponent.new(Spina::Admin::Journal::Institution.model_name.human(count: :many),
                                                      spina.admin_journal_institutions_path,
                                                      active: controller_name == 'institutions')
    = render Spina::MainNavigation::LinkComponent.new(Spina::Admin::Journal::Licence.model_name.human(count: :many),
                                                      spina.admin_journal_licences_path,
                                                      active: controller_name == 'licences')

