%li{ class: ('active' if %w[articles issues volumes].include? controller_name) }
  = link_to admin_journal_volumes_path do
    = icon 'pages'
    = ::Spina::Admin::Journal::Journal.instance.name
    = icon 'caret-right'

    %ul
      %li{ class: ('active' if %w[volumes].include? controller_name) }
        = link_to ::Spina::Admin::Journal::Volume.model_name.human(count: :many), admin_journal_volumes_path
      %li{ class: ('active' if %w[issues].include? controller_name) }
        = link_to ::Spina::Admin::Journal::Issue.model_name.human(count: :many), admin_journal_issues_path
      %li{ class: ('active' if %w[articles].include? controller_name) }
        = link_to ::Spina::Admin::Journal::Article.model_name.human(count: :many), admin_journal_articles_path

%li{ class: ('active' if %w[journals authors institutions].include? controller_name) }
  = link_to edit_admin_journal_journal_path(::Spina::Admin::Journal::Journal.instance.id) do
    = icon 'dots'
    = t 'spina.admin.journal.navigation_title'
    = icon 'caret-right'

    %ul
      %li{ class: ('active' if %w[journals].include? controller_name) }
        = link_to ::Spina::Admin::Journal::Journal.model_name.human(count: :one), edit_admin_journal_journal_path(::Spina::Admin::Journal::Journal.instance.id)
      %li{ class: ('active' if %w[authors].include? controller_name) }
        = link_to ::Spina::Admin::Journal::Author.model_name.human(count: :many), admin_journal_authors_path
      %li{ class: ('active' if %w[institutions].include? controller_name) }
        = link_to ::Spina::Admin::Journal::Institution.model_name.human(count: :many), admin_journal_institutions_path
