- content_for :header_actions do
  = link_to new_admin_journal_journal_path, class: %w[button button-primary], style: 'margin-right: 0' do
    = heroicon 'plus'
    = t '.new'

.well
  .table-container
    %table.table
      %thead
        %tr
          %th= ::Spina::Admin::Journal::Journal.human_attribute_name :name
          %th

      %tbody
        - if @journals.any?
          - @journals.each do |journal|
            %tr
              %td
                = journal.name
              %td.nowrap.align-right
                = link_to spina.edit_admin_journal_journal_path(journal), class: %w[button button-link] do
                  = heroicon 'pencil-alt', style: :outline

        - else
          %tr
            %td.align-center{colspan: 2}
              %em= t '.no_journals'
