%tr
  %td= issue.volume.number
  %td= issue.number
  %td= issue.title
  %td= time_tag issue.date, format: :iso8601
  %td.nowrap.align-right
    = link_to edit_admin_journal_issue_path(issue.id), class: 'button button-link' do
      = icon 'pencil-outline'
      = t '.view'
