= render Spina::UserInterface::HeaderComponent.new do |header|
  - header.actions do
    .ml-3
      = link_to new_admin_journal_issue_path, class: 'btn btn-primary w-full' do
        = heroicon 'plus', style: :solid, class: 'w-7 h-7 -m1-2'
        = t '.new'

= render Spina::Admin::Journal::IssuesListComponent.new(issues: @issues, sortable: false)

