%tr{ data: { id: article.id } }
  %td= article.issue.volume.number
  %td= article.issue.number
  %td.position-display= article.number
  %td= time_tag article.issue.date, format: :iso8601
  %td= article.title
  %td.nowrap.align-right
    = link_to edit_admin_journal_article_path(article.id), class: 'button button-link' do
      = icon 'pencil-outline'
      = t '.view'
