.page-form
  .page-form-group
    .page-form-label
      = ::Spina::Admin::Journal::Issue.model_name.human count: :one
    .page-form-content
      = f.collection_select :issue_id, ::Spina::Admin::Journal::Issue.sorted_desc, :id, ->(issue) { t '.volume_issue', volume_number: issue.volume.number, issue_number: issue.number }
  .page-form-group
    .page-form-label
      = ::Spina::Admin::Journal::Article.human_attribute_name :number
      %small= t '.unchangeable'
    .page-form-content
      = f.number_field :number, disabled: true
  .page-form-group
    .page-form-label
      = ::Spina::Admin::Journal::Article.human_attribute_name :title
    .page-form-content
      = f.text_field :title
  .page-form-group
    .page-form-label
      = ::Spina::Admin::Journal::Author.model_name.human count: :many
    .page-form-content
      .well{ style: 'margin: 0' }
        .table-container
          %table.table{ style: 'margin: 0' }
            %tbody
              = f.collection_check_boxes :affiliation_ids, Spina::Admin::Journal::Affiliation.sorted, :id, :name do |builder|
                %tr
                  %td{ style: "padding-left: 16px" }
                    .form-checkbox
                      = builder.check_box
                      = builder.label
  .page-form-group
    .page-form-label
      = ::Spina::Admin::Journal::Article.human_attribute_name :url
    .page-form-content
      = f.text_field :url
  .page-form-group
    .page-form-label
      = ::Spina::Admin::Journal::Article.human_attribute_name :doi
    .page-form-content
      = f.text_field :doi

  = f.fields_for :"#{@locale}_content", @parts do |ff|
    = ff.hidden_field :type, value: ff.object.class.name
    = ff.hidden_field :title
    = ff.hidden_field :name

    .page-form-group.page-part{ data: { name: ff.object.name } }
      = render "spina/admin/parts/#{parts_partial_namespace(ff.object.class.name)}/form", f: ff

- unless @article.new_record?
  .pull-right= link_to t('spina.permanently_delete'), admin_journal_article_path(@article), method: :delete, data: { confirm: t('.delete_confirmation', title: @article.title) }, class: 'button button-link button-danger'
