- content_for(:header_actions) do
  = link_to new_admin_journal_article_path, class: 'button button-primary' do
    = heroicon 'plus'
    = t '.new'

.well
  .table-container
    %table.table
      %thead
        %tr
          %th= ::Spina::Admin::Journal::Volume.human_attribute_name :number
          %th= ::Spina::Admin::Journal::Issue.human_attribute_name :number
          %th= ::Spina::Admin::Journal::Article.human_attribute_name :number
          %th= ::Spina::Admin::Journal::Issue.human_attribute_name :date
          %th= ::Spina::Admin::Journal::Article.human_attribute_name :title
          %th

      %tbody
        = @articles.any? ? render(collection: @articles, partial: 'article') : render('empty_list', message: t('.empty'))
