- content_for(:header_actions) do
  = link_to new_admin_journal_institution_path, class: 'button button-primary' do
    = heroicon 'plus'
    = t '.new'

.well
  .table-container
    %table.table
      %thead
        %tr
          %th= ::Spina::Admin::Journal::Institution.human_attribute_name :name
          %th= t '.number_of_affiliations'
          %th

      %tbody
        = @institutions.any? ? render(collection: @institutions, partial: 'institution') : render('empty_list', message: t('.empty'))
